// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    50: hsl(305, 100%, 93%),
    // #ffd9fa
    100: hsl(305, 100%, 92%),
    // #ffccf9
    200: hsl(305, 100%, 87%),
    // #ffbff7
    300: hsl(305, 100%, 80%),
    // #ff99f3
    400: hsl(305, 100%, 65%),
    // #ff4de9
    500: hsl(305, 100%, 50%),
    // #FF00E0
    600: hsl(305, 100%, 45%),
    // #e600ca
    700: hsl(305, 100%, 38%),
    // #bf00a8
    800: hsl(305, 100%, 30%),
    // #990086
    900: hsl(305, 100%, 25%),
    // #7d006e
  ),
  secondary: (
    50: hsl(174, 100%, 93%),
    // #d9fffb
    100: hsl(174, 100%, 92%),
    // #ccfffa
    200: hsl(174, 100%, 87%),
    // #bffff8
    300: hsl(174, 100%, 80%),
    // #99fff4
    400: hsl(174, 100%, 65%),
    // #4dffec
    500: hsl(174, 100%, 50%),
    // #00FFE4
    600: hsl(174, 100%, 45%),
    // #00e6cd
    700: hsl(174, 100%, 38%),
    // #00bfab
    800: hsl(174, 100%, 30%),
    // #009989
    900: hsl(174, 100%, 25%),
    // #007d70
  ),
  tertiary: (
    50: hsl(28, 100%, 93%),
    // #ffe9d9
    100: hsl(28, 100%, 92%),
    // #ffe2cc
    200: hsl(28, 100%, 87%),
    // #ffdabf
    300: hsl(28, 100%, 80%),
    // #ffc499
    400: hsl(28, 100%, 65%),
    // #ff984d
    500: hsl(28, 100%, 50%),
    // #FF6C00
    600: hsl(28, 100%, 45%),
    // #e66100
    700: hsl(28, 100%, 38%),
    // #bf5100
    800: hsl(28, 100%, 30%),
    // #994100
    900: hsl(28, 100%, 25%),
    // #7d3500
  ),
  success: (
    50: hsl(83, 59%, 92%),
    // #edf7dc
    100: hsl(83, 59%, 89%),
    // #e6f5d0
    200: hsl(83, 56%, 86%),
    // #e0f2c5
    300: hsl(83, 54%, 78%),
    // #ceeba2
    400: hsl(83, 61%, 61%),
    // #a9db5c
    500: hsl(83, 80%, 44%),
    // #84cc16
    600: hsl(83, 80%, 40%),
    // #77b814
    700: hsl(83, 80%, 33%),
    // #639911
    800: hsl(83, 80%, 26%),
    // #4f7a0d
    900: hsl(83, 80%, 22%),
    // #41640b
  ),
  warning: (
    50: hsl(54, 100%, 93%),
    // #fffad9
    100: hsl(54, 100%, 92%),
    // #fff8cc
    200: hsl(54, 100%, 87%),
    // #fff6bf
    300: hsl(54, 100%, 80%),
    // #fff199
    400: hsl(54, 100%, 65%),
    // #ffe64d
    500: hsl(54, 100%, 50%),
    // #FFDB00
    600: hsl(54, 100%, 45%),
    // #e6c500
    700: hsl(54, 100%, 38%),
    // #bfa400
    800: hsl(54, 100%, 30%),
    // #998300
    900: hsl(54, 100%, 25%),
    // #7d6b00
  ),
  error: (
    50: hsl(333, 71%, 92%),
    // #f9ddea
    100: hsl(333, 71%, 89%),
    // #f6d1e4
    200: hsl(333, 69%, 87%),
    // #f4c6dd
    300: hsl(333, 65%, 79%),
    // #eea3c8
    400: hsl(333, 70%, 63%),
    // #e15e9f
    500: hsl(333, 79%, 46%),
    // #D41976
    600: hsl(333, 79%, 42%),
    // #bf176a
    700: hsl(333, 79%, 35%),
    // #9f1359
    800: hsl(333, 79%, 28%),
    // #7f0f47
    900: hsl(333, 79%, 23%),
    // #680c3a
  ),
  surface: (
    50: hsl(225, 27%, 91%),
    // #e4e6ee
    100: hsl(225, 27%, 89%),
    // #dbdee9
    200: hsl(225, 25%, 86%),
    // #d2d6e3
    300: hsl(225, 23%, 77%),
    // #b6bdd2
    400: hsl(225, 22%, 60%),
    // #808cb1
    500: hsl(225, 32%, 42%),
    // #495a8f
    600: hsl(225, 32%, 38%),
    // #425181
    700: hsl(225, 32%, 32%),
    // #37446b
    800: hsl(225, 32%, 25%),
    // #2c3656
    900: hsl(225, 32%, 21%),
    // #242c46
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(200, 23%, 97%),
    300: hsl(200, 12%, 95%),
    400: hsl(205, 12%, 88%),
    500: hsl(209, 13%, 83%),
    600: hsl(208, 6%, 55%),
    700: hsl(210, 8%, 31%),
    800: hsl(212, 9%, 22%),
    900: hsl(210, 10%, 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
